<%= render 'stories/create_block'%>

</div><!-- .container -->
<% @stories.each do |story| %>

  <div class="col-md-6 text-center story-container">
    <div class="background-image" style="width: 100%; z-index: -1; height: 300px; background-size: cover; background-image:url('<%= attachment_url(story, :image, :fill, 570, 300) %>')">
      <div class="clearfix"></div>
    </div>
    <div class="text-content">
      <h5>Updated <%= time_ago_in_words(story.updated_at) %></h5>
      <h3><%= story.name %></h3>
      <hr>
      <%= link_to 'Edit Story', edit_story_path(story), :class => 'btn btn-default' %>
    </div>
    <div class="clearfix"></div>
  </div>
<% end %>

<div class="container">
