<%= render 'stories/create_block'%>
<% @stories.each do |story| %>



  <div class="col-md-6 text-center">
    <div class="background-image" style="width: 100%; z-index: -1; height: 300px; background-size: cover; background-image:url('<%= get_featured_photo(story) %>')">
      <h5>Updated <%= time_ago_in_words(story.updated_at) %></h5>
      <h3><%= story.name %></h3>
      <hr>
      <%= link_to 'Edit Story', edit_story_path(story), :class => 'btn btn-default' %>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
<% end %>
