<div class="user-info">
  <%= image_tag attachment_url(@user, :image), :class => 'image-target' %>
  <%= @user.username %>
  <%= @user.name_last %>
  <%= @user.name_first %>
</div>
<div class="story-container">
  <%= render 'stories/index' %>
</div>
