<div class="user-info">
   <%= image_tag attachment_url(@user, :image), :class => 'image-target' %>
  <%= @user.username %>
  <%= @user.name_last %>
  <%= @user.name_first %>
  <%= @user.website_personal %>
  <%= @user.instagram_personal %>
  <%= @user.twitter_personal %>
  <%= @user.flickr_personal %>
  <%= @user.facebook_personal %>
</div>
<div class="story-container">

</div>
