<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>
      <th>Image </th>
      <th>Title</th>
      <th>ID </th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @films.each do |film| %>
      <tr>
        <td><%= link_to image_tag(attachment_url(film, :image, :fill, 250, 150)), [@story, film] %></td>
        <td><%= link_to film.title, [@story, film] %></td>
        <td><%= link_to 'Edit', edit_story_film_path(@story.id, film) %> | <%= link_to 'Destroy', film, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <th><%= film.id %> </th>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Film', new_story_film_path(@story.id) %>
