<div class="col-sm-12">
  <%= link_to 'Back', story_path(@story) %> |
  <b><%= @film.title %></b>:
  <%= @film.description %>
  <hr>
</div>

<div class="col-sm-8">
  <%= image_tag attachment_url(@film, :image), :class => 'image-target' %>
</div>

<div class="col-sm-4">
  <%= render 'hotspots/index' %>
</div>
