<%= form_for(@story) do |f| %>

  <%= f.submit :class => 'btn btn-primary btn-lg submit-fixed-button' %>

  <div class="col-md-7 col-centered clearform">
    <% if @story.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@story.errors.count, "error") %> prohibited this story from being saved:</h2>

        <ul>
        <% @story.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_field :name, :class => 'form-control title', :placeholder => 'Untitled Story' %>
    </div>
    <div class="field">
      <%= f.text_area :byline, :class => 'form-control', :placeholder => 'Add a subtitle' %>
    </div>

    <div class="field">
      <%= f.label :image %><br>
      <%= f.attachment_field :image, direct: true %>

      <div id="image"></div>

      <% if @story.image_id? %>
        <%= image_tag attachment_url(@story, :image, :fill, 100, 100) %>
        <%= f.check_box :remove_image %>
        <%= f.label :remove_image %>
      <% end %>
    </div>


  </div>

<% end %>
