<% if @films.count == 0 %>
  <%= form_for @story do |form| %>
    <%= form.label :images_files %>
    <%= form.attachment_field :films_images[], multiple: true, direct: true, presigned: true %>
    <%= form.submit :class => 'btn btn-primary btn-lg submit-fixed-button' %>
  <% end %>
<% else %>
  <h1>Editing <%= @story.name %></h1>
  <div class="row">
    <div class="col-md-4">
      <h1>New Photo</h1>
      <%= render 'films/form' %>
      <hr>
      <%= render 'form_photo' %>
      <%= render 'form_edit' %>
    </div>
    <div class="col-md-8">
      <h1>Uploaded Photos</h1>
      <%= render 'films/index' %>
    </div>
  </div>
  <%= link_to 'Show', @story %> |
  <%= link_to 'Back', stories_path %>
<% end %>

