<h1>Editing <%= @story.name %></h1>

<div class="row">
  <div class="col-md-4">
    <h1>New Photo</h1>
    <%= render 'films/form' %>
    <hr>
  </div>
  <div class="col-md-8">
    <h1>Uploaded Photos</h1>
    <%= render 'films/index' %>
  </div>
</div>

<%= link_to 'Show', @story %> |
<%= link_to 'Back', stories_path %>
