<p id="notice"><%= notice %></p>
<div>
  <%= link_to 'New Story', new_story_path %>
</div>
<br>
<div>
  <div class="">
    <% @stories.each do |story| %>
      <div class="col-md-4">
        <%= image_tag attachment_url(story.films.first, :image, :fill, 400, 300)  %>
        <div>
          <td><%= story.name %></td>
          <% if user_signed_in? %>
            <td><%= link_to 'Show', story %></td>
            <td><%= link_to 'Edit', edit_story_path(story) %></td>
            <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>


