<div class="content-wrapper">
  <div class="col-md-8">
    <div class="image-container">
      <%= embed_code(@story, false, 800).html_safe %>
      <input class="col-md-12" onClick="this.setSelectionRange(0, this.value.length)" value="<%= embed_code(@story) %>">
    </div>
  </div>
  <div class="col-md-4">
    <h1><%= @story.name %></h1>
    <p class="byline"><%= @story.byline %></p>
    <p><%= @story.blurb %></p>

    <%= link_to 'View Fullscreen Story', path_path(@story.id), class: 'btn btn-primary btn-lg' %>
    <%= link_to 'Back', stories_path, class: 'btn btn-default' %>
    <hr>
    <%= render 'stories/network' %>
    <hr>
  </div>
  <div class="clearfix"></div>
</div>

