<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to root_path, :class => 'navbar-brand' do %>
        <div class="branding-icon"></div>
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%#= link_to "Stories", stories_path %></li>
      </ul>

      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
          <li><%= link_to "Stories", stories_path %></li>
          <li><%= link_to "Account", edit_user_registration_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Pricing", pricing_path %></li>
          <li><%= link_to "Sign Up", new_user_registration_path, data: { no_turbolink: true } %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li><%= link_to 'Users', users_path %></li>
          <% end %>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
