<%= form_for([@story, @film, @hotspot]) do |f| %>
  <% if @hotspot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hotspot.errors.count, "error") %> prohibited this hotspot from being saved:</h2>

      <ul>
      <% @hotspot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :location %><br>
    <%= f.text_field :location, :class => 'coord' %>
  </div>
  <div class="field">
    <%= f.label :destination %><br>
    <%= f.text_field :destination %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
