<p id="notice"><%= notice %></p>

<h1>Listing Hotspots</h1>

<table>
  <thead>
    <tr>
      <th>Films</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hotspots.each do |hotspot| %>
      <tr>
        <td><%= hotspot.films %></td>
        <td><%= hotspot.location %></td>
        <td><%= link_to 'Show', hotspot %></td>
        <td><%= link_to 'Edit', edit_hotspot_path(hotspot) %></td>
        <td><%= link_to 'Destroy', hotspot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hotspot', new_hotspot_path %>
