<p id="notice"><%= notice %></p>

<p>
  <strong>Films:</strong>
  <%= @hotspot.films %>
</p>

<p>
  <strong>Location:</strong>
  <%= @hotspot.location %>
</p>

<%= link_to 'Edit', edit_hotspot_path(@hotspot) %> |
<%= link_to 'Back', hotspots_path %>
