<!DOCTYPE html>
<html>

<%= render 'global/head' %>

<body class="<%= content_for?(:page_type) ? yield(:page_type) : '' %> <%= content_for?(:navclass) ? yield(:navclass) : '' %>">

  <%= render 'global/topnav' %>
  <div class="clearfix"></div>
  <div class="container">
    <%= render 'global/notice' %>
    <%= yield %>
  </div>
  <%= render 'global/footer' %>
  <%= render 'global/olark' %>

</body>
</html>
