<!DOCTYPE html>
<html>

<%= render 'global/head' %>


<body class="<% if user_signed_in? %><%= 'signed-in' %><% end %> <%= content_for?(:page_type) ? yield(:page_type) : '' %> <%= content_for?(:navclass) ? yield(:navclass) : '' %>">

  <%= render 'global/topnav' %>
  <div class="clearfix"></div>
  <%= render 'global/notice' %>
  <%= yield %>
  <%= render 'global/footer' %>
  <%= render 'global/olark' %>

</body>
</html>
